$tertiary: #d8d8d8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: azure;
}

.card {
  overflow: hidden;
  .card-img-top {
    height: 200px;
    transition: 0.5s ease-in-out;
    object-fit: cover;
  }
  &:hover {
    .card-img-top {
      transform: scale(1.05);
    }
  }
  .card-body {
    z-index: 2;
    background-color: $tertiary;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    .card-img-top {
      height: 250px;
    }
  }
}
